.exp-outer {
  background: url("../../assets/bg2.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh; /* or any value like 120vh, 1500px, etc. */
  padding: 1rem 1rem;
}

.experience-page {
  background: linear-gradient(120deg, #f4eeed, #fef9f6);
  font-family: "Segoe UI", sans-serif;
  color: #333;
  border-radius: 30px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);

  max-width: 90vw;
  width: 100%;
  margin: 2rem auto;
  padding: 2rem 2rem;
  box-sizing: border-box;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  background: linear-gradient(to right, #ddb7ab, #999b84);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience-roadmap {
  position: relative;
  max-width: 700px;
  width: 100%;
  padding-left: 2rem;
  border-left: 3px solid #ddb7ab;
}

.roadmap-step {
  position: relative;
  padding: 0.5rem 0.5rem;
  margin-bottom: 2rem;
}

.roadmap-step::before {
  content: attr(data-year);
  position: absolute;
  left: 0;
  transform: translateX(-120%);
  top: 1rem;
  background-color: #ddb7ab;
  color: black;
  font-weight: bold;
  padding: 0.4rem 0.5rem;
  border-radius: 20px;
  font-size: 1rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
}

.roadmap-content {
  background-color: #e7e7db;
  border-left: 10px solid #999b84;
  padding: 0.8rem 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
}

.roadmap-content h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #ddb7ab;
  font-weight: 600;
}

.roadmap-content p {
  margin: 0.4rem 0 0;
  font-size: 0.95rem;
  opacity: 0.85;
  margin-bottom: 10px;
}

.roadmap-content:hover{
  background-color: #f4eeed;
}
/* Progress bar styles */
.progress-bar {
  background-color: #f4eeed;
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
  width: 100%;
}

.progress {
  background-color: #ddb7ab;
  height: 100%;
  color: white;
  text-align: right;
  padding-right: 8px;
  line-height: 20px;
  font-size: 0.85rem;
  font-weight: 600;
  transition: width 0.5s ease-in-out;
}

/* Responsive Design */
@media (max-width: 768px) {
  .experience-title {
    font-size: 2rem;
  }

  .experience-roadmap {
    padding-left: 1.2rem;
  }

  .roadmap-step::before {
    transform: translateX(-100%);
    font-size: 0.8rem;
  }

  .roadmap-content {
    font-size: 0.9rem;
  }
}
